<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<!-- BEGIN navbar top -->
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid ">
        <a class="navbar-brand " href="#">Pay My Buddy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log off</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END navbar top -->

<!-- BEGIN breadcrumb -->
<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>
<!-- END breadcrumb -->


<div class="container">
    <div class="row">

    </div>
    <div class="col-md-9">
        <h5>First name</h5><td th:text="${user.getFirstName}">FirstName</td><br/><br/>
        <h5>Last name</h5><td th:text="${user.getLastName}">LastName</td><br/><br/>
        <h5>Address email</h5><td th:text="${user.getEmailAddress}">AddressEmail</td><br/><br/>
        <h5>Iban</h5><td th:text="${account.getIban}">Iban</td><br/><br/>
    </div>

</div>
</body>
</html>
