<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Pay My Buddy</title>
</head>
<body class="">

    <!-- BEGIN navbar top -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid ">
            <a class="navbar-brand " href="#">Pay My Buddy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log off</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END navbar top -->

    <!-- BEGIN breadcrumb -->
    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transfer</li>
        </ol>
    </nav>
    <!-- END breadcrumb -->

    <!-- BEGIN container -->
    <div class="container">

        <!-- BEGIN row -->
        <div class="row">
            <!-- BEGIN col -->
            <div class="col">

                <!-- START ADD FRIEND -->
                <div class="row">
                    <div class="col-md-10">
                        <h5>Add friends</h5>
                    </div>
                </div>
                <div id="addFriend" style="display: block;background-color: #eeeeee;padding:1em;">

                    <form class="form-group" th:action="@{/addFriend}" method="POST" th:object="${friend}">
                        <div class="alert alert-success" th:if="${addFriendSuccess}" th:text="${addFriendSuccess}">
                        </div>
                        <div class="alert alert-danger" th:if="${addFriendError}" th:text="${addFriendError}">
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="emailAddress" class="form-control" id="inputEmail" placeholder="&#xf0e0; &nbsp;&nbsp;Email" style="font-family:Arial, FontAwesome"  required>
                                </div>
                            </div>
                            <div class="col">
                                <button type="submit" name="transfer" class="btn btn-success" value="Transfer">Add</button>
                            </div>
                        </div>

                    </form>
                </div>

                <!-- END ADD FRIEND -->
                <br/><br/>

                <!-- START send money -->
                <div class="row">
                    <div class="col-md-10">
                        <h5>Send Money</h5>
                    </div>
                </div>

                <div id="transfer" style="display: block;background-color: #eeeeee;padding:1em;">

                    <form class="form-group" th:action="@{/transfer}" method="POST" th:object="${transaction}">
                        <div class="alert alert-success" th:if="${transactionSuccess}" th:text="${transactionSuccess}">
                        </div>
                        <div class="alert alert-danger" th:if="${transactionError}" th:text="${transactionError}">
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <select id="toEmail" name="creditorEmailAddress"  class="custom-select" required>
                                    <option value="" selected disabled hidden>Select A Connection</option>
                                    <option th:each="creditor : ${friendList}" th:value="${creditor.getEmailAddress()}" th:text="${creditor.getEmailAddress()}">Email</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" type="number" min="1" value="0" step=".01" name="amount" id="amount" required>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="description" id="description">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" name="transfer" class="btn btn-success" value="Transfer">Pay</button>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- END send money -->

                <!-- START transaction list -->
                <div class="table-responsive">
                    <table class="table table-striped table-hover mt-3">
                        <thead>
                        <tr class="bg-success text-white">
                            <th>Connection</th>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction: ${transactionList}" >
                            <td th:text="${transaction.getCreditor().getFirstName()}">Connection</td>
                            <td th:text="${transaction.getDescription()}">Description</td>
                            <td th:text="${transaction.getAmount()+'€'}">Amount</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END transaction list -->

            </div>
            <!-- END col-->
        </div>
        <!-- END row -->

    </div>
    <!-- END container -->

    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>